@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap);

*, *::before, *::after { box-sizing: inherit; }

html {
	box-sizing: border-box;
}

* {
  --Roboto: "Roboto", sans-serif;

  --main-color: #1992D4;
  --accent-color: #F0B429;
  --background-color: #E2E8F0;
  --block-color: white;
  --maintext-color: black;
  --subtext-color: #636363;
}

#page-container {
    display: grid;
    grid-template: 20vh 80vh / 20vw 80vw;

    margin: 0 auto;
}

svg {fill: var(--maintext-color);}
button {background-color: transparent;}

#sidebar {
    background-color: var(--main-color);
    color: var(--block-color);
    font-family: var(--Roboto);
    font-weight: 500;

    grid-row: 1 / 3;
    grid-column: 1 / 2;
}

#sidebar > header {
    display: flex;
}

#sidebar > header > svg {
    width: 20%;
}

ul {padding-left: 0;}

li {
    list-style-type: none;
}

#sidebar svg {
    fill: var(--block-color);
    width: 15%;
}

a {
    text-decoration: none;
    color: var(--block-color);
}

body > header {
    background-color: var(--block-color);

    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

#top-header {
    width: 100%;
    height: 45%;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

#user-notif {
    width: 35%;
    flex: 1 1 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

#user-notif > svg {
    height: 35%;
    width: 40px;
}

#user-notif > img {
    height: 70%;
    border-radius: 100%;
}

#user-notif > p {
    font-family: var(--Roboto);
    font-weight: 600;
}

form {
    width: 65%;
    flex: 1 1 1;
    height: 100%; /* important to center vertically */
    padding-left: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

form > button {
    height: 40%;
    width: 40px;
    flex: 1 0 1;

    border: none;
}

form svg {
    fill: var(--maintext-color);
    width: 100%;
    height: 100%;
}

form > input {
    height: 50%;
    flex: 1 1 80%;

    border: none;
    border-radius: 25px;
    background-color: var(--background-color);
}

#bottom-header {
    width: 100%;
    height: 55%;

    display: flex;
    align-items: center;
    gap: 1.5rem;

    border: solid 1px grey;
    font-family: var(--Roboto);
}

#bottom-header > img {
    flex: 0 0 auto;
    height: 70%;
    border-radius: 100%;
    margin-left: 3rem;
}

#greeting-cont {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.3rem;

    font-weight: 500;
}

#greeting-cont p {
    margin: 0;
}

#greeting-cont > p:last-child {
    font-size: 1.5rem;
}

#user-btn-cont {
    flex: 1 1 40%;
    display: flex;
    gap: 2rem;
    margin-right: 3rem;
}

#user-btn-cont > button {
    flex: 1;
    padding: 1rem 1.5rem;

    background-color: var(--main-color);
    border: none;
    border-radius: 25px;
    color: var(--block-color);
    font-weight: 600;
    letter-spacing: 1px;
}

#main-content {
    background-color: var(--background-color);
    font-family: var(--Roboto);

    grid-row: 2 / 3;
    grid-column: 2 / 3;
    display: flex;
    padding: 2rem 0 3rem 0;
}

#your-projects {
    flex: 1 1 70%;
    padding: 0 1rem;
}

h1, h2, p {margin: 0;}

#main-content > div > h1 {
    font-weight: 500;
    font-size: 1.5rem;
    margin-bottom: 0.7rem;
}

h2 {font-size: 1.4rem; font-weight: 500;}

#cards-cont {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template: repeat(auto-fill, 220px) / repeat(auto-fill, 380px);
    gap: 20px;
    padding-right: 0.5rem;
}

.card {
    box-sizing: border-box;
    background-color: var(--block-color);
    border-radius: 10px;
    padding: 2rem;
    border-left: solid 10px var(--accent-color);

    display: flex;
    flex-direction: column;
}

.card > p {
    color: grey;
    margin-bottom: 1rem;
}

.buttons-cont {
    display: flex;
    justify-content: end;
    gap: 5%;
}

.buttons-cont button {
    border: none;
    width: 2rem;
    height: 100%;
}

aside {
    border: solid 1px grey;
    flex: 1 1 30%;
}